{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardDetail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <div class="page-container">
            <!-- Header -->
            <div class="Header-Container">
                <!-- Header 내용물 -->
                <div class="Header-Wrap">
                    <!-- 로고 -->
                    <div class="Logo-Container">
                        <a class="Logo-Anchor" href="{% url 'main_page' %}">
                            <div class="text-3d">
                                Company 
                            </div>
                        </a>
                    </div>
                    <!-- 검색? -->
                    <div class="Search-Container">
                        <div class="Search-Wrap">
                            <form class="d-flex Search-Box" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="Logout-Container">
                        <div class="Logout-Wrap">
                            <div class="Logout-Box">
                                <a href="{% url 'logout' %}" class="btn btn-outline-dark btn-custom">Logout</a>
                            </div>
                        </div>
                    </div>
                    {% else %}  
                    <!-- 로그인 버튼 -->
                    <div class="Login-Container">
                        <div class="Login-Wrap">
                            <div class="Login-Box">
                                <a href="{% url 'login_page' %}" class="btn btn-outline-secondary btn-custom">Login</a>
                            </div>
                        </div>
                    </div>
                    <!-- 회원가입 버튼 -->
                    <div class="Register-Container">
                        <div class="Register-Wrap">
                            <a href="{% url 'signup_page' %}" class="btn btn-outline-dark btn-custom">Register</a>
                        </div>
                    </div>
                    {% endif %} 
                </div>
            </div>
            <!-- Navbar -->
            <div class="Navbar-Container">
                <div class="Navbar-Wrap">
                    <div class="Navbar-Box">
                        <a class="Navbar-Anchor" href="{% url 'board_list' %}">게시판</a>
                    </div>
                    <div class="Navbar-Box">
                        <a class="Navbar-Anchor" href="{% url 'distribution_map' %}">물자 배급</a>
                    </div>
                    <div class="Navbar-Box">
                        <a class="Navbar-Anchor" href="{% url 'shelter_page' %}">인근 시설맵</a>
                    </div>
                    <div class="Navbar-Box">
                        <a class="Navbar-Anchor" href="{% url 'volunteer_list' %}">봉사자 모집</a>
                    </div>
                </div>
            </div>
            <!-- Side Bar & Content -->
            <div class="SideBar-Content-Wrap">
                <!-- Side Bar -->
                <div class="SideBar-Contaniner">
                    <div class="SideBar-Info">
                        <div class="Profile-wrap">
                            <img class="Profile-image" src="{% static 'images/hun.jpg' %}"> 
                        </div>
                        {% if user.is_authenticated %}
                        <div class="Info-wrap">
                            <div class="Info-name">이름: {{ user.first_name }}{{ user.last_name }}</div>
                            <div class="Info-role">등급: 회원</div>    
                        </div>
                         
                        {% else %}  
                        <div class="Info-wrap">
                            <div class="Info-name">이름: ㅇㅇ</div>
                            <div class="Info-role">등급: 비회원</div>    
                        </div>
                        {% endif %}
                        
                    </div>
                    <div class="SideBar-Action">
                        {% if user.is_authenticated %}
                            <div class="Action-Wrap">
                                <a class="Action-Board" href="{% url 'board_create' %}">카페 글쓰기</a>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <p>연결된 노트</p>
                        <div><B>Host</B></div>
                        <div>=>{{ client_ip }}</div>
                        <div><B>Web</B></div>
                        <div>=>{{ server_ip }}</div>
                        <div><B>DB</B></div>
                        <div>=>{{ mariadb_ip }}</div>
                    </div>
                </div>
                <!-- Content -->
                <div class="Content-Container">
                    <!-- 540 -->
                    <div class="BoardDetail-Content-Container">
                        <div class="BoardDetail-Wrap">
                            <!-- 제목    -->
                            <div class="Detail-Title">
                                <div class="Detail-Title-Wrap">
                                    {{ board.title }}
                                </div>
                            </div>
                            <!-- 정보    -->
                            <div class="Detail-Profile">
                                <!-- 프로필 -->
                                <div class="Detail-Image-Wrap">
                                    <img src="{% static 'images/hun.jpg' %}" class="Detail-Image-Box">
                                </div>
                                <div class="Detail-Profile-Wrap">
                                    <!-- 작성자 -->
                                    <div class="Detail-Profile-author">{{ board.author.first_name }}{{ board.author.last_name }}</div>
                                    <!-- 날짜 -->
                                    <div class="Detail-Date">{{ board.created_at }}</div>
                                </div>
                            </div>
                            <!-- 내용    -->
                            <div class="Detail-Content">
                                <div class="Detail-Content-Wrap">
                                    <div class="Detail-Content-Box">{{ board.content }}</div>
                                </div>
                            </div>
                            <!-- 댓글란   -->
                            <div class="Detail-Comment-Bundle">
                                <!-- 작성된 댓글     -->
                                {% for comment in comments %}
                                <div class="Detail-Commented">
                                    <!-- 프로필 -->
                                    <div class="Detail-Comment-Img-Container">
                                        <img src="{% static 'images/jingga.jpg' %}" class="Detail-Image-Box">
                                    </div>
                                    <div class="Detail-Comment-Profile" >
                                        <input type="hidden" name="board_id" value="{{ board_id }}">
                                        <!-- 작성자 이름 -->     
                                        <div class="Detail-Comment-Author-Container" style="width: 650px;">
                                            {{ comment.user.first_name }}{{ comment.user.last_name }}
                                            
                                        </div>
                                        <!-- 내용 -->
                                        <div class="Detail-Comment-Content" style="width: 650px;">
                                            {{ comment.text }}
                                        </div>
                                    </div>
                                    {% if comment.user.id == request.user.id %}
                                    <a class="" href="{% url 'comment_delete' board_id=board.id comment_id=comment.comment_num %}"> 삭제 </a>  
                                    {% endif %}
                                    
                                </div>
                                {% endfor %}
                                <!-- 댓글 작성 폼     -->
                                <div class="Detail-Commenting">
                                    <div class="comment-form-container">
                                        <form action="{% url 'comment_create' board.id %}" method="post" class="Comment-Form">
                                            {% csrf_token %}
                                            <textarea class="comment-form-field" name="comment" rows="4" placeholder="댓글을 입력하세요..."></textarea>
                                            <button type="submit" class="Action-Detail-button">댓글 제출</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 40 -->
                    <div class="BoardDetail-Button-Container">
                        <div class="detail-blank"></div>
                        <div class="Detail-Button-Wrap">
                            {% if request.user == board.author %}
                            <div class="Detail-Button-Box">
                                <a class="Action-DetailUpdate-button" href="{% url 'board_update' board.id %}">글수정</a>
                            </div>
                            <div class="Detail-Button-Box">
                                <a class="Action-DetailDelete-button" href="{% url 'board_delete' board.id %}">글삭제</a>
                            </div>
                            {% endif %}
                            <div class="Detail-Button-Box">
                                <a class="Action-Detail-button" href="{% url 'board_create' %}">글쓰기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="Footer-Container">
                <div class="Footer-Wrap">
                    <div class="terms-wrap">
                        <div class="terms-Anchor">
                            <a href="" class="Anchor-ani">회사소개</a>
                        </div>
                        <div class="terms-Anchor Anchor-Middle">
                            <a href="" class="Anchor-ani">이용약관</a>
                        </div>
                        <div class="terms-Anchor">
                            <a href="" class="Anchor-ani">개인정보 처리 방침</a>
                        </div>
                    </div>
                    <div class="Copyright-Wrap">
                        Copyright ⓒ 2024 Company. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>